export GITHUB_TOKEN=example_pat
export RUNNER_TOKEN=example_runner_token

export ANSIBLE_HOST=10.22.78.232
export ANSIBLE_USER=ast
export ANSIBLE_PASSWORD=your_password_here
export ANSIBLE_BECOME_PASSWORD=your_password_here